<div>
<a href="<%= product_path(@conn, :show, @product.slug) %>">
<h3><%= @product.name %></h3>
</a>
<%= render "_product_price.html", product: @product %>
<img src="<%= thumbnail_url(@product, :thumb) %>" />
</div>