<div>
<h1><%= @product.name %></h1>
<div>
<%= render "_product_price.html", product: @product %>
<div>
<img src="<%= thumbnail_url(@product, :show) %>" />
<div><%= @product.description %></div>
</div>